{% extends 'school_app/base.html' %}
{% block content %}
<div class="content container mt-4">
    <h1 class="text-center">Welcome to the Login Page</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                
                <div class="card-body">
                    <h2 class="card-title mb-4">Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    
<h2 style="text-align: center;">कक्षा 
    10 स्तर वाले विद्यार्थियों के अध्यापन हेतु स मय सारणी</h2>
<table class="timetable" border="1">
    <thead>
        <tr>
            <th>क्र. स.</th>
            <th>दिनांक</th>
            <th>शीर्षक</th>
            <th>अंकभार</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1.</td>
            <td rowspan="2">08.01.2025 से 10.01.2025 (तीन दिवस)</td>
            <td>- अध्याय 01 - वास्तविक संख्याएँ</td>
            <td>04(03)</td>
        </tr>
        <tr>
            <td>- अध्याय 03 – दो चर वाले रैखिक समीकरण</td>
            <td>04(03)</td>
        </tr>
        <tr>
            <td rowspan="2">2.</td>
            <td rowspan="2">11.01.2025 शनिवार</td>
            <td>- अध्याय 01 एवं 03 का मूल्यांकन (प्रथम)</td>
            <td></td>
        </tr>
        <tr>
            <td>- अभिभावक-शिक्षक मीटिंग में लक्ष्य 2025 की जानकारी</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">3.</td>
            <td rowspan="2">13.01.2025 से 15.01.2025 (तीन दिवस)</td>
            <td>- अध्याय 02 - बहुपद</td>
            <td>04(03)</td>
        </tr>
        <tr>
            <td>- अध्याय 05 – समान्तर श्रेढ़ी</td>
            <td>06(03)</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>16.01.2025 गुरूवार</td>
            <td>- अध्याय 02 एवं 05 का मूल्यांकन (द्वितीय)</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3">5.</td>
            <td rowspan="3">20.01.2025 से 24.01.2025 (पाँच दिवस)</td>
            <td>- अध्याय 04 - द्विघात समीकरण</td>
            <td>04(01)</td>
        </tr>
        <tr>
            <td>- अध्याय 07 - निर्देशांक ज्यामिति</td>
            <td></td>
        </tr>
        <tr>
            <td>- अध्याय 14 - प्रायिकता</td>
            <td></td>
        </tr>
        <tr>
            <td>6.</td>
            <td>25.01.2025 शनिवार</td>
            <td>- अध्याय 04, 07, 14 का मूल्यांकन (तृतीय)</td>
            <td>04(04)</td>
        </tr>
        <tr>
            <td rowspan="3">7.</td>
            <td rowspan="3">27.01.2025 से 31.01.2025 (पाँच दिवस)</td>
            <td>- अध्याय 10 - वृत</td>
            <td>06(03)</td>
        </tr>
        <tr>
            <td>- अध्याय 11 - वृतों से संबंधित क्षेत्रफल</td>
        </tr>
        <tr>
            <td>- अध्याय 13 - सांख्यिकी</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>01.02.2025 शनिवार</td>
            <td>- अध्याय 10, 11, 13 का मूल्यांकन (चतुर्थ)</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="4">9.</td>
            <td rowspan="4">07.02.2025 से 14.02.2025 (07 दिवस)</td>
            <td>- अध्याय 06 - त्रिभुज</td>
            <td>04(03)</td>
        </tr>
        <tr>
            <td>- अध्याय 08 - त्रिकोणमिति का परिचय</td>
            <td>08(04)</td>
        </tr>
        <tr>
            <td>- अध्याय 09 - त्रिकोणमिति का अनुप्रयोग</td>
            <td>05(04)</td>
        </tr>
        <tr>
            <td>- अध्याय 12 - पृष्ठीय क्षेत्रफल एवं आयतन</td>
            <td>06(06)</td>
        </tr>
        <tr>
            <td width="49">
            <p>10.</p>
            </td>
            <td width="168">
            <p>15.02.2025 शनिवार</p>
            </td>
            <td width="288">
            <p>- अध्याय 06.08.09 एवं 12 का मूल्यांकन (पंचम)</p>
            </td>
            <td width="66">
            <p>&nbsp;</p>
            </td>
            </tr>
    </tbody>
</table>

</div>

{% endblock %}
