{% extends 'school_app/base.html' %}
{% load static %} 
{% block content %}
<style>
    .photo-line {
        padding: 20px 0;
    }

    .slider {
        width: 100%;
        margin: 0 auto;
    }

    .photo-container {
        text-align: center;
        display: inline-block;
        width: 150px; /* Width of passport-size image */
        height: 180px; /* Height of passport-size image */
        margin: 10px;
        border: 2px solid #000;
    }

    .passport-photo {
        width: 120%;
        height: 150px;
        border-radius: 5px; /* Optional: rounded corners */
    }

    .caption {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 5px;
    }
</style>
<!-- Slick Carousel CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<!-- jQuery (required for Slick) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Slick Carousel JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <h2 style="color:#069">Toppers of the Week</h2>
  <div class="photo-line">
    <div class="slider">
            <!-- Repeat this block 20 times for each photo -->
            <div class="photo-container">
                <img src="{% static 'school_app/images/lakshyapratapsingh.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                    <marquee behavior="scroll" direction="left" scrollamount="3">LAKSHYA PRATAP SINGH, GSSS DHUNDHIYA</marquee>
                </div>
           </div>
         <div class="photo-container">
                <img src="{% static 'school_app/images/shivanibairwa.jpeg' %}" alt="Photo 3" class="passport-photo">
                <div class="caption">
                    <marquee behavior="scroll" direction="left" scrollamount="3">SHIVANI BAIRWA</marquee>
                </div>
        </div>
            <div class="photo-container">
                <img src="{% static 'school_app/images/nishamalpura.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                   NISHA MEENA
                </div>
            </div>
            <div class="photo-container">
                <img src="{% static 'school_app/images/khushijhilay.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                  KHUSHI SAINI
                </div>
            </div>
            <div class="photo-container">
                <img src="{% static 'school_app/images/komaljhilay.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                  KOMAL CHOUDHARY
                </div>
            </div>

            <div class="photo-container">
                <img src="{% static 'school_app/images/mamtaganwar.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                 MAMTA CHOUDHARY
                </div>
            </div>
            <div class="photo-container">
                <img src="{% static 'school_app/images/krishanaganwar.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                   KRISHNA CHOUDHARY
                </div>
            </div>
       
            <div class="photo-container">   
                 <img src="{% static 'school_app/images/radhikaganwar.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                     RADHIKA BAIRWA
                </div>
            </div>
            <div class="photo-container">   
                 <img src="{% static 'school_app/images/anjaliganwar.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                  ANJALI KHARRA
                </div>
            </div>
          
           <div class="photo-container">
                <img src="{% static 'school_app/images/manishkakod.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                   MANISH
                </div>
            </div>
            <div class="photo-container">
                <img src="{% static 'school_app/images/lokeshkakod.jpeg' %}" alt="" class="passport-photo">
                <div class="caption">
                    LOKESH
                </div>
            </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/sannuthakhar.jpeg' %}" alt="sannuthakhar" class="passport-photo">
                <div class="caption">
                    SANNU THAKHAR
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/Abhishekchandawa.jpeg' %}" alt="Abhishek Chandawa" class="passport-photo">
                <div class="caption">
                   ABHISHEK CHANDAWA
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/Khushiramyogi.jpeg' %}" alt="Khushiramyogi" class="passport-photo">
                <div class="caption">
                   KHUSHI RAM YOGI
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/ektachoudary.jpeg' %}" alt="ektachoudary" class="passport-photo">
                <div class="caption">
                    EKTA CHOUDARY
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/Deepaksaini.jpeg' %}" alt="Deepaksaini" class="passport-photo">
                <div class="caption">
                  DEEPAK SAINI
                </div>
        </div>
           
        <div class="photo-container">
                <img src="{% static 'school_app/images/vikashchoudhary.jpeg' %}" alt="vikashchoudhary" class="passport-photo">
                <div class="caption">
                 VIKASH CHOUDARY
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/Anitatoda.jpg' %}" alt="Anita Saini Todaraisingh" class="passport-photo">
                <div class="caption">
                    <marquee behavior="scroll" direction="left" scrollamount="3">ANITA SAINI Todaraisingh </marquee>
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/ayushghad.jpeg' %}" alt="AYUSH DEVATWAL GSSS GHAD" class="passport-photo">
                <div class="caption">
                    <marquee behavior="scroll" direction="left" scrollamount="3">AYUSH DEVATWAL GSSS GHAD</marquee>
                </div>
        </div>
        <div class="photo-container">
                <img src="{% static 'school_app/images/akshatsharma.jpg' %}" alt="Photo 3" class="passport-photo">
                <div class="caption">
                    <marquee behavior="scroll" direction="left" scrollamount="3">AKSHAT SHARMA</marquee>
                </div>
        </div>
           <div class="photo-container">
            <img src="{% static 'school_app/images/monikachoudharybanediya.jpeg' %}" alt="" class="passport-photo">
            <div class="caption">
                <marquee behavior="scroll" direction="left" scrollamount="3">MONIKA CHOUDHARY</marquee>
            </div>
          </div>
          <div class="photo-container">
            <img src="{% static 'school_app/images/priyagurjarchhanbas.jpeg' %}" alt="" class="passport-photo">
            <div class="caption">
                <marquee behavior="scroll" direction="left" scrollamount="3">PRIYA GURJAR GSSS CHHANBAS SURYA </marquee>
            </div>
          </div>
          <div class="photo-container">
            <img src="{% static 'school_app/images/komalmeenacharnet.jpeg' %}" alt="" class="passport-photo">
            <div class="caption">
                <marquee behavior="scroll" direction="left" scrollamount="3">KOMAL MEENA</marquee>
            </div>   
         </div>
        
         <div class="photo-container">
             <img src="{% static 'school_app/images/rakeshgurjar.jpeg' %}" alt="" class="passport-photo">
             <div class="caption">
                 <marquee behavior="scroll" direction="left" scrollamount="3">RAKESH GURJAR</marquee>
             </div>
        </div>    
        
         <div class="photo-container">
             <img src="{% static 'school_app/images/teenaprajapati.jpeg' %}" alt="" class="passport-photo">
             <div class="caption">
                 <marquee behavior="scroll" direction="left" scrollamount="3">TEENA PRAJAPATI</marquee>
             </div>
        </div>
    </div>
</div>
<div class="content container mt-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="{% static 'school_app/images/pailogo.png' %}" class="img-fluid rounded" alt="PadhaiWithAI Image" style="max-height: 100%; object-fit: cover;">
        </div>
        <div class="col-md-6">
            <h1 class="text-center">Welcome to the Login Page</h1>
            <div class="card shadow-lg border-light rounded">                
                <div class="card-body">
                    <h2 class="card-title text-left mb-4">Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3 text-left">
                            <label for="{{ form.email.id_for_label }}" class="form-label" style="font-size: 20px;">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3 text-left">
                            <label for="{{ form.password.id_for_label }}" class="form-label" style="font-size: 20px;">Password</label>
                            {{ form.password }}
                        </div>
                        <div class="mb-3 text-left">
                            <label for="{{ form.captcha.id_for_label }}" class="form-label" style="font-size: 20px;">Captcha</label>
                            {{ form.captcha }}
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        // Initialize the Slick slider
        $('.slider').slick({
            infinite: true, // Infinite scrolling
            slidesToShow: 5, // Number of images to show at once
            slidesToScroll: 3, // Number of images to scroll at once
            autoplay: true, // Enable autoplay
            autoplaySpeed: 2000, // Speed between images
            arrows: true, // Show next/previous arrows
            dots: true, // Show navigation dots
            responsive: [
                {
                    breakpoint: 768, // For smaller screens
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480, // For very small screens
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>
{% endblock %}
