
{% extends 'school_app/base.html' %}

{% block content %}

<h2>Schools Not Logged In/Inactive Schools</h2>
<a href="{% url 'report_dashboard' %}" align="right">Back to Report Dashboard</a>
<table class="table table-bordered table-striped" id="inactiveSchoolsTable">
  <thead>
    <tr>
        <th>S.No.</th>
        <th>School Name</th>
        <th>Block Name</th>
        <th>Admin Email</th>
        <th>Last Login Date</th>
    </tr>
</thead>
<tbody>
    {% for school in schools %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ school.name }}</td>
        <td>{{ school.block__name_english }}</td>
        <td>{{ school.admin__email }}</td>
        <td>{{ school.last_login_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No inactive schools found.</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url 'report_dashboard' %}">Back to Report Dashboard</a>


<script>
	$(document).ready(function() {
		$('#inactiveSchoolsTable').DataTable({
			"paging": true,          // Enable pagination
			"searching": true,       // Enable searching
			"ordering": true,        // Enable sorting
			"info": true,            // Display information about the table
			"lengthChange": true   // Disable changing number of rows per page
             
		});
	});
</script>
{% endblock %}
