{% extends 'school_app/base.html' %}

{% block content %}

    <div class="container">
        <h2 class="text-center mb-4" style="font-size: 2.5em; color: #0056b3; font-weight: bold;">School Average Marks</h2>

        <!-- Table of Schools and their Average Marks -->
        <div class="table-responsive">         
     
                <h4>School Average Marks and Percentages</h4>
                <table border="1" class="table table-striped table-bordered" id="rankingTable">
                    <thead class="table-header" >
                        <tr>
                            <th>S.No.</th>
                            <th>School Name</th>
                            <th>Block Name</th>
                            {% for test in tests %}
                                <th>{{ test.subject_name }} - Avg Marks</th>
                                <th>{{ test.subject_name }} - Percentage</th>
                            {% endfor %}
                            <th>Avg Marks</th>
                            <th>Cumulative Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school in results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ school.school_name }}</td>
                            <td>{{ school.block_name }}</td>
                            {% for test in school.test_averages %}
                                <td>{{ test.average_marks|floatformat:2 }}</td>
                                <td>{{ test.percentage|floatformat:2 }}%</td>
                            {% endfor %}
                            <td>{{ school.school_average|floatformat:2 }}</td>
                            <td>{{ school.school_percentage|floatformat:2 }}%</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </div>
  <!-- Back to Dashboard Button -->
  <div class="text-center mt-4">
    <a href="{% url 'student_report' %}" class="btn btn-secondary" style="font-size: 1.1em; padding: 10px 20px;">
        Back to Dashboard
    </a>
</div>  

<script>
    $(document).ready(function() {
        // Initialize DataTables with sorting enabled
        $('#rankingTable').DataTable({
            "paging": true,  // Enable pagination
            "searching": true,  // Enable search box
            "ordering": true,  // Enable sorting
            "info": true,
            "pageLength": 10,  // Default number of rows per page
            "lengthMenu": [5, 10, 25, 50, 100,400],
            "responsive": true, // Show table info (number of records, etc.)
        });
    });
</script>
   
{% endblock %}
