{% extends 'school_app/base.html' %}

{% block content %}

    <div class="container mt-5">
        <h2 class="text-center mb-4" style="font-size: 2.5em; color: #0056b3; font-weight: bold;">School Average Marks</h2>

        <!-- Table of Schools and their Average Marks -->
         <div class="card shadow-sm">
            <div class="card-body">
     
            <table id="schoolTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th style="font-size: 1.2em; color: #333;">S.No.</th>
                    <th style="font-size: 1.2em; color: #333;">School Name</th>
                    {% for test_avg in results.0.test_averages %}
                    <th style="font-size: 1.2em; color: #333;">{{ test_avg.test_name }}</th>
                    {% endfor %}
                    {% for test_avg in results.1.test_averages %}
                    <th style="font-size: 1.2em; color: #333;">{{ test_avg.test_name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for school in results %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                    <td style="font-size: 1.2em; color: #333;">{{ school.school_name }}</td>
                    {% for test_avg in school.test_averages %}
                        <td>{{ test_avg.average_marks|default:0|floatformat:2 }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
            </div>
        </div>
    </div>
  <!-- Back to Dashboard Button -->
  <div class="text-center mt-4">
    <a href="{% url 'student_report' %}" class="btn btn-secondary" style="font-size: 1.1em; padding: 10px 20px;">
        Back to Dashboard
    </a>
</div>  

    <script>
        $(document).ready(function() {
            // Initialize the DataTable
            $('#schoolTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true
            });
        });
    </script>
{% endblock %}
