{% extends 'school_app/base.html' %}

{% block title %}Student Rankings{% endblock %}

{% block content %}
<h1>Test-Wise Student Rankings</h1>
<!-- Dropdown for selecting test -->
<form method="GET">
    <label for="testSelector"><strong>Select Test:</strong></label>
    <select name="test" id="testSelector" class="form-control" onchange="this.form.submit()">
        <option value="" {% if not selected_test %}selected{% endif %}>Cumulative Ranking</option>
        {% for test in tests %}
            <option value="{{ test.test_number }}" {% if selected_test|stringformat:"s" == test.test_number|stringformat:"s" %}selected{% endif %}>
                {{ test.test_name }}
            </option>
        {% endfor %}
    </select>
</form>

<!-- Ranking Table -->
<table class="table table-striped table-bordered" id="rankingTable">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Student Name</th>
            <th>School Name</th>
            {% if selected_test %}
              
                <th>Marks Obtained</th>
                <th>Percentage</th>
            {% else %}
                <th>Total Marks Obtained</th>
                <th>Total Max Marks</th>
                <th>Percentage</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for student in rankings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.student__name }}</td>
            <td>{{ student.student__school__name }}</td>
            {% if selected_test %}
               
                <td>{{ student.marks }}</td>
                <td>{{ student.percentage|floatformat:2 }}%</td>
            {% else %}
                <td>{{ student.total_marks }}</td>
                <td>{{ student.total_max_marks|floatformat:0  }}</td>
                <td>{{ student.percentage|floatformat:2 }}%</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

 <!-- Back to Dashboard Button -->
 <div class="text-center mt-4">
    <a href="{% url 'student_report' %}" class="btn btn-secondary" style="font-size: 1.1em; padding: 10px 20px;">
        Back to Dashboard
    </a>
</div>
<script>
    $(document).ready(function() {
        // Initialize DataTables with sorting enabled
        $('#rankingTable').DataTable({
            "paging": true,  // Enable pagination
            "searching": true,  // Enable search box
            "ordering": true,  // Enable sorting
            "info": true  // Show table info (number of records, etc.)
        });
    });
</script>

{% endblock %}
