{% extends 'school_app/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4" style="color: #007bff; font-size: 2.5em; font-weight: bold;">Weakest Students</h2>
        
        <!-- Form to filter the number of weakest students -->
        <form method="get" action="" class="mb-4">
            <div class="form-group">
                <label for="test">Select Test</label>
                <select name="test" id="test" class="form-control" >
                    <option value="">All Tests</option>
                    {% for test in all_tests %}
                        <option value="{{ test.test_number }}" {% if test.test_number == test_number %}selected{% endif %}>Test {{ test.test_number }}</option>
                    {% endfor %}
                </select>
            </div>
            <div  class="form-group">
                <div class="col-md-6 offset-md-3 d-flex justify-content-between align-items-center">
                    <label for="weakest" class="form-label">Number of Weakest:</label>
                    <input type="number" name="weakest" value="5" class="form-control w-50">
                    <button type="submit" class="btn btn-primary ms-2">Show</button>
                </div>
            </div>
        </form>
        <!-- Table to display weakest students -->
        <div class="card shadow-sm p-4">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th>S.No</th>
                    <th>Student Name</th>
                    <th>School Name</th>
                    <th>Marks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in data %}
                        <tr>
                            
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.student__name }}</td>
                                <td>{{ student.student__school__name }}</td>
                                <td>{{ student.avg_marks|floatformat:2 }}</td>
                            </tr>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2" class="text-center text-muted">No data available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Back to Dashboard Button -->
 <div class="text-center mt-4">
    <a href="{% url 'student_report' %}" class="btn btn-secondary" style="font-size: 1.1em; padding: 10px 20px;">
        Back to Dashboard
    </a>
</div>
{% endblock %}
